/*RESETEO GENERAL*/

li {
  list-style: none;
}

form#formu_operacion {
  text-align: center;
  background-color: rgb(167, 164, 164);
  width: 300px;
  margin: 3vh 20vw;
  padding: 15px 5px;
  border-radius: 3px;
  border: 1px Solid white;
}

form#formu_cheques {
  display: none;
  flex-flow: column nowrap;
  background-color: rgb(167, 164, 164);
  margin: 1vh 1vw;
  padding: 10px;
  border-radius: 3px;
  border: 1px Solid white;
}

table {
  background-color: white;
}

label,
input,
button,
select {
  margin: 2px;
  padding: 2px;
}

label {
  color: rgb(41, 41, 248);
}

a {
  color: blue;
}

a:hover {
  color: blueviolet;
}

button {
  color: rgb(63, 63, 245);
  border: 2px solid rgb(63, 63, 245);
  background-color: rgb(198, 198, 243);
  border-radius: 6px;
  width: max-content;
}

header,
footer {
  text-align: center;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: rgb(112, 112, 112);
  border-radius: 6px;
  padding-bottom: 30px;
}

main {
  margin-top: 20px;
  margin-bottom: 20px;
}

button#desconectar {
  opacity: 0.7;
  padding: 0 4px;
  font-size: 0.8rem;
}

#error {
  background-color: burlywood;
  border-radius: 3px;
  width: max-content;
  padding: 0 9px;
}

#caja_ingreso {
  width: max-content;
  padding: 10px;
  margin: 10vw 0;
  border-radius: 3px;
  border: 1px Solid white;
}

#tabla_feriados {
  margin: 10px;
  width: max-content;
}

#bienvenida {
  color: white;
}

/*CLASES*/

.cartelTitulo {
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(112, 112, 112);
  text-align: center;
  justify-content: center;
  margin-top: 1vw;
  font-size: 2rem;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.3);
  background: rgb(112, 112, 112);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}

.alerta {
  background: #f8f8f8;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#caja_mensajeria {
  position: relative;
}

#mensajeria {
  background: #f8f8f8;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  font-family: "Monserrat", sans-serif;
  padding: 10px;
  text-align: center;
  width: 250px;
  height: 100px;
}

.idcheque {
  width: 80px;
}

.chequenro {
  width: 100px;
}

.fecha {
  width: 115px;
}

.importe {
  width: 110px;
}

@media (max-width: 343.98px) {
  form#formu_operacion {
    margin: 1vh 2vw;
    width: 220px;
  }
  form#formu_cheques {
    margin: 1vh 2vw;
    width: 220px;
  }
  #nombre {
    width: 100px;
  }
  footer {
    visibility: hidden;
  }
}

@media (min-width: 344px) and (max-width: 575.98px) {
  form#formu_operacion {
    margin: 1vh 20vw;
    width: 230px;
  }
  form#formu_cheques {
    margin: 1vh 20vw;
    width: 230px;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 1%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  form#formu_operacion {
    margin: 1vh 25vw;
    max-width: 240px;
  }
  form#formu_cheques {
    margin: 1vh 25vw;
    max-width: 240px;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 6%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  form#formu_operacion {
    margin: 1vh 20vw;
  }
  form#formu_cheques {
    margin: 1vh 20vw;
    width: 300px;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 12%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  form#formu_operacion {
    margin: 1vh 30vw;
  }
  form#formu_cheques {
    margin: 1vh 18vw;
    max-width: 600px;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 20%;
  }
}

@media (min-width: 1200px) {
  form#formu_operacion {
    margin: 1vh 35vw;
  }
  form#formu_cheques {
    margin: 1vh 16vw;
    max-width: 800px;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 28%;
  }
}
